*.iml
.gradle
.apk
/local.properties
/.idea/caches
/.idea/artifacts
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/composeApp/release
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/metadata/kotlinTransformedMetadataLibraries
.kotlin/errors
